.contact
    height: calc(90vh - 70px)
    font-size: 2rem


    p.title
        width: 100%
        background-color: #457DCC
        font-size: 3rem
        font-family: 'Roboto Condensed', sans-serif
        font-weight: bold
        text-align: center
        line-height: 120px


    .wrap2
        display: flex
        flex-basis: 50%
        width: 100%

        .form
            width: 50%
            form
                display: flex
                flex-direction: column
                margin: 20px 0 0 20px

                
            input
                border: 3px #457DCC solid
                margin: 10px
                height: 30px
                width: 80%
                line-height: 2rem
                &:nth-last-child(1)
                    width: 200px
                    font-family: 'Roboto Condensed', sans-serif
                    text-transform: uppercase
                    transition: .2s
                    cursor: pointer
                
                &:nth-last-child(1):hover
                    background-color: #000
                    color: #fff
                
                
                    
                &:nth-last-child(2)
                    height: 200px
                &::placeholder
                    text-transform: uppercase
                    padding-left: 10px
                    font-family: 'Roboto Condensed', sans-serif

                
                    
                
                    

        .info
            width: 50%

            p
                font-size: 1rem








 