@import '_about'
@import '_contact'
@import '_footer'
@import '_nav'
@import '_navMobile'
@import '_gallery'
@import '_staff'
@import '_mediaqueries'

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    overflow-x: hidden
    width: 100%
    body
        font-size: 10px
        color: #000
        background-color: #000
        max-width: 1400px
        margin: 0 auto
        overflow-x: hidden
        width: 100%
        section
            background-color: #4D4D4D
